@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    color: #d1dbf3;
    background-color: rgb(48, 42, 42);
    font-family: 'Robota';
    font-size: 18px;
    line-height: 20px;
    
}

.avatar {
    max-width: 100%;
    border-radius: 5px;
}

.hello {
    background-color: rgb(45, 68, 68);
    padding: 20px 20px 20px 20px;
    font-size: 1.2rem;
    border: 1px solid rgb(126, 125, 125);
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
   text-align: center;
   box-shadow: 0 10px 10px rgba(0, 0, 0.2);
   
} 

.hello h2 {
    /* padding-left: 15%; */
    text-align: center; 
}

@media (max-width: 650px )  {
    .hello h2 {
        font-size: 15px;
    }
}
.description{
    font-size: 18px;
    background-color: rgb(45, 68, 68);
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid rgb(126, 125, 125);
    border-radius: 4px;
    box-shadow: 0 10px 10px rgba(0, 0, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
    
}
@media (max-width: 650px )  {
    .description {
        font-size: 15px;
    }
}


.video{
    text-align: center; 
    background-color: rgb(45, 68, 68);
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid rgb(126, 125, 125);
    border-radius: 4px;
    box-shadow: 0 10px 10px rgba(0, 0, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.links {
    text-align: center; 
    background-color: rgb(45, 68, 68);
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid rgb(126, 125, 125);
    border-radius: 4px;
    box-shadow: 0 10px 10px rgba(0, 0, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
    
}
@media (max-width: 650px )  {
    .links {
        font-size: 13px;
    }
}


 .pros{
    font-size: 18px;
    text-align: center; 
    list-style: none;
    background-color: rgb(45, 68, 68);
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid rgb(126, 125, 125);
    border-radius: 4px;
    box-shadow: 0 10px 10px rgba(0, 0, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
    
    margin: 20px;
    
} 

@media (max-width: 650px )  {
    .pros {
        font-size: 15px;
    }
}


.photo{
    text-align: center; 
   box-sizing: border-box;
    background-color: rgb(45, 68, 68);
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid rgb(126, 125, 125);
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0.2);
    
}

.contacs{
    text-align: center;
    background-color: rgb(45, 68, 68);
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid rgb(126, 125, 125);
    border-radius: 4px;
    box-shadow: 0 10px 10px rgba(0, 0, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
    
}
@media (max-width: 650px )  {
    .contacs {
        font-size: 15px;
        text-align: center;
    }
}


a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: rgb(255, 230, 230);
}

.btn {
    
        display: inline-block;
        border-radius: 4px;
        background-color: #7b8056;
        border: none;
        color: #161615;
        text-align: center;
        font-size: 20px;
        padding: 20px;
        width: 130px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      
      .btn span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .btn span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .btn:hover span {
        padding-right: 25px;
      }
      
      .btn:hover span:after {
        opacity: 1;
        right: 0;
      }
      @media (max-width: 650px )  {
        .btn {
            font-size: 15px;
        }
    }

      .square{
        margin: 0;
        padding: 0;
        list-style: none;
      }

      .square li {
        margin-bottom: 10px;
      }

         .bay {
         text-align: center; 
        background-color: rgb(45, 68, 68);
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border: 1px solid rgb(126, 125, 125);
        border-radius: 4px;
        box-shadow: 0 10px 10px rgba(0, 0, 0.2);
        padding-top: 10px;
        padding-bottom: 10px;
        
        display: block;
      
        
        
      } 
      .bay1 a:hover {
        background: #7b8056;
      }


    .container {
       
        font-size: 18px;
        text-align: center; 
        list-style: none;
        background-color: rgb(45, 68, 68);
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border: 1px solid rgb(126, 125, 125);
        border-radius: 4px;
        box-shadow: 0 10px 10px rgba(0, 0, 0.2);
        padding-top: 10px;
        padding-bottom: 10px;
        
        margin: 20px;
    }
    .container h2 {
        text-align: center;
    }

    .mtb-3 {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .table {
        width: 100%;
        text-align: center;
    }

    .table th, .table td {
        text-align: center;
        padding: 10px;
    }
    .table th {
        background:#4d4e43;
    }
    


    /* .table th:nth-child(odd) {
        background: #7b8056;
    } */
   
    .table tr {
        transition: all 0.2s;
    }
    .table tr:hover {
        background-color: rgb(88, 90, 90);

    }

    .table td:not(:last-child){
        border-right: 1px solid rgb(99, 96, 96) ;
    }
  
    .table-responsive {
        overflow-x: auto;
        
    }

    @media (max-width: 650px )  {
        .container {
            font-size: 15px;
        }
    }
   
